.restore-password {
    margin-top: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.02em;
    color: #5970FF;
    cursor: pointer;
    text-decoration: none;
}

.restore-password:hover {
    text-decoration-line: underline;
}

.input-password {
    width: 95%;
    height: 27px;
    margin-top: 15px;
    background: #FFFFFF;
    border: 1px solid #C7C7C7;
    box-shadow: 0px 0px 20px rgb(0 0 0 / 5%);
    border-radius: 5px;
    padding: 0.375rem 0.75rem;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.01em;
    color: #000000;
}

.label {
    color: #949494;
    font-size: 16px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: 0.01em;
}

.wrapper-middle-entrance {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
    margin-top: 30px;
}

.btn-entrance {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 27px;
    background-color: #5970FF;
    color: #ffffff;
    letter-spacing: 0.02em;
    border: none;
    cursor: pointer;
    padding: 17px 43%;
    text-decoration: none;
}

.btn-entrance:disabled {
    background: #8695f6;
}

.error {
    color: red;
    text-align: center;
}